form{
    width: 300px;
    min-width: 300px;
}

.cart{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}

.user{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.login{
    margin-right: 10px;
}

ul{
    width:100%;
}
.cart_btn{
}

.nav_end{
    display: flex;
    margin-right: 0px;
}


.cart-menu{
    position:fixed;
    width: 20vw;
    height: 100vh;
    top:0px;
    right: 0px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(100%);
    transition: all .4s ease;
}

.cart-menu.active{
    transform: translate(0);
}



.dark-overlay{
    position: fixed;
    top: 0px;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index:5;
    transform: translate(100%);
    transition: all .2s ease;
}
.dark-overlay.active{
    transform: translate(0);
}

#close{
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
}


